/* This is the CSS document for Aimee Salt's portfolio; first draft September 2023 */

/* why is there sideways scroll on my page? */

  /* title ---------------------------------------------------------------------------------------------- */
/* why is the logo smaller and padding less on this page?
 */
  .title{
    display: flex;
    padding-top: 75px;
    justify-content: space-between;
  }

  /* section styles --------------------------------------------------------------------------------------------- */


  .about{
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
  }

  .about-content{
    padding-top: 60px;
  }

  .skills h4{
    line-height: 1;
  }

  .skills h3{
    padding-top: 25px;
  }

  .about p{
    width: 100%;
  }

  .work-and-fun p{
    width: 100%;
  }

  .work-and-fun{
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;    
  }

  .work-and-fun-content{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-bottom: 50px;
  }


  .buttons{
    display: flex;
    gap: 50px;
  }


/* about-me content --------------------------------------------------------------------------------------------- */

#categoryGrid{
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 
    "picture   skills"
    "about-me  skills"
    ;
  gap: 50px;
  height: fit-content;
}

.categoryGridArea{
  display: grid;
  margin-bottom: 15px;
  height: fit-content;
}

#picture{
  grid-area: picture;
  display: flex;
  align-items: flex-start;
  padding-top: 50px; /*to align with 'skills' (h4 has padding-top)*/
}

#about-me{
  grid-area: about-me;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#skills{
  grid-area: skills;
  align-items: flex-start;
}
  
#profile-photo{ /*to make */
  width: 200%;
}