/* This is the CSS document for Aimee Salt's portfolio; first draft September 2023 */


  h2, h3{
    display: inline;
  }

  #downArrow{
    width: 20px;
    padding-left: 50px;
  }

  /* title----------------------------------------------------------------------------------------------- */

  .title{
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: space-between;
  }


  /* content ---------------------------------------------------------------------------------------------- */

  .case-study{
    padding-bottom: 75px;
  }

 .toggle{
    padding-bottom: 100px;
 }

  #dropDown1, #dropDown2, #dropDown3{
    display:none;
  }

 
/* 
   media queries ----------------------------------------------------------------------------------------------
   @media only screen and (max-width: 1000px) {
    #main-navigation{
      display: none;

    }
    
    .icons{
      margin-left: auto;
    }
  } */
  
  /* @media only screen and (max-width: 600px){
    #headline{
      position: static;
      margin: 20px;
    }
  
    #heroGrid{
      grid-template-areas:
      "featuredProduct featureProduct"
      "secondaryProduct CTA";
    }
  
    #categoryGrid{
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks";
    } */
  

